.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
  .Logo-container {
    animation: App-logo-spin infinite 3s;
  }
  /* .Segment {
    animation: Color-anim2 infinite 3s;
  } */
  .s5 {
    animation: Color-anim2 infinite 3s;
    animation-delay: 0.5s;
  }
  .s6 {
    animation: Color-anim3 infinite 3s;
    animation-delay: 0.5s;
  }
  .s7 {
    animation: Color-anim3 infinite 3s;
    animation-delay: 0.8s;
  }
  .s8 {
    animation: Color-anim2 infinite 3s;
    animation-delay: 0.8s;
  }
  .s1 {
    animation: Color-anim infinite 3s;
    animation-delay: 1.3s;
  }
  .s2 {
    animation: Color-anim infinite 3s;
    animation-delay: 1s;
  }
  .s3 {
    animation: Color-anim infinite 3s;
    animation-delay: 1s;
  }
  .s4 {
    animation: Color-anim infinite 3s;
    animation-delay: 0.6s;
    /* animation-delay: 0.6s; */
  }
  .s9 {
    animation: Color-anim2 infinite 3s;
    animation-delay: 0.9s;
  }
  .s10 {
    animation: Color-anim3 infinite 3s;
    animation-delay: 0.9s;
  }
  .s11 {
    animation: Color-anim2 infinite 3s;
    animation-delay: 1.3s;
  }
  .s12 {
    animation: Color-anim3 infinite 3s;
    animation-delay: 1.3s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logo-container {
  display: flex;
  justify-content: center;

  /* align-items: center; */
  background-color: #06f3ff;
  height: 10em;
  width: 10em;
}
.Segment {
  /* display: inline; */
  position: absolute;
  background: linear-gradient(
    0deg,
    #33333300,
    #33333300,
    #33333300,
    #33333300,
    #06f3ff,
    #ff9191,
    #06f3ff,
    #33333300,
    #33333300,
    #33333300,
    #33333300
  );
  background-color: #06f3ff05;
  background-size: 400% 400%;
  /* height: 400px; */
  width: 1%;
}
.Box-container {
  position: relative;
  height: 500px;
  width: 500px;
  /* background-color: #3c4647; */
}

.s1 {
  left: 42.5%;
  top: 25%;
  bottom: 0%;
}
.s2 {
  left: 0%;
  top: 12.5%;
  bottom: 12.5%;
}
.s3 {
  right: 0%;
  top: 12.5%;
  bottom: 12.5%;
}
.s4 {
  right: 42.5%;
  bottom: 25%;
  top: 0%;
}

.s5 {
  height: 57.5%;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 87.5%;
}
.s6 {
  height: 45%;
  transform: rotate(-73deg);
  transform-origin: top;
  top: -0.5%;
  left: 56%;
}

.s7 {
  height: 45%;
  transform: rotate(-73deg);
  transform-origin: top;
  top: 12.5%;
  left: 0%;
}
.s8 {
  height: 57.5%;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 74.5%;
  left: 42.5%;
}
.s9 {
  height: 57.5%;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 12.5%;
  left: 0%;
}
.s10 {
  height: 45%;
  transform: rotate(-73deg);
  transform-origin: bottom;
  bottom: 12.5%;
  right: 0%;
}

.s11 {
  height: 57.5%;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 0%;
  left: 42.5%;
}
.s12 {
  height: 45%;
  transform: rotate(-73deg);
  transform-origin: bottom;
  bottom: 0%;
  left: 42.5%;
}

/* .s1 {
  left: 170px;
  top: 100px;
  bottom: 0;
}
.s2 {
  left: 0;
  top: 50px;
  bottom: 50px;
}
.s3 {
  right: 0;
  top: 50px;
  bottom: 50px;
}
.s4 {
  right: 170px;
  bottom: 100px;
  top: 0;
}

.s5 {
  height: 230px;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 350px;
}
.s6 {
  height: 180px;
  transform: rotate(-73deg);
  transform-origin: top;
  top: -2px;
  left: 224px;
}

.s7 {
  height: 180px;
  transform: rotate(-73deg);
  transform-origin: top;
  top: 50px;
  left: 0px;
}
.s8 {
  height: 230px;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 298px;
  left: 170px;
}
.s9 {
  height: 230px;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 50px;
  left: 0px;
}
.s10 {
  height: 180px;
  transform: rotate(-73deg);
  transform-origin: bottom;
  bottom: 50px;
  right: 0px;
}

.s11 {
  height: 230px;
  transform: rotate(77deg);
  transform-origin: bottom;
  bottom: 0px;
  left: 170px;
}
.s12 {
  height: 180px;
  transform: rotate(-73deg);
  transform-origin: bottom;
  bottom: 0px;
  left: 170px;
} */

@keyframes Color-anim {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes Color-anim2 {
  0% {
    background-position: 0% 100%;
  }
  10% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 0% 0%;
  }
}
@keyframes Color-anim3 {
  0% {
    background-position: 0% 100%;
  }
  10% {
    background-position: 0% 100%;
  }
  70% {
    background-position: 0% 0%;
  }
}
@keyframes Color-anim4 {
  0% {
    background-position: 0% 100%;
  }
  10% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
